<mat-card class="ins">
    <mat-card-header>
        <mat-card-subtitle>הוראות למילוי הטופס</mat-card-subtitle>
        <mat-card-title>שלום {{this.current.firstName?this.current.firstName:''}}
            {{this.current.lastName?this.current.lastName:''}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>לפניך טופס למילוי ובו שדות רבים</p>
        <p>עליך למלא את כל השדות</p>
        <p>להוספת ילד יש ללחוץ על כפתור + ולמלא את פרטיו</p>

        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer>
        <p>בהצלחה</p>
    </mat-card-footer>
</mat-card>